@keyframes fadeInY {
  entry 0%  {
		opacity: 0;
    transform: translateY(32px);
	}
	entry 100%  {
		opacity: 1;
		transform: translateY(0);
	}
}

.animate {
	animation: fadeInY linear forwards;
	animation-timeline: view(y 100% auto);
  	transform: translateY(20px);
}