@tailwind base;
@tailwind components;
@tailwind utilities;

/* .grid {
    background-image: radial-gradient(circle, rgba(0,0,0,0) 0%, var(--primaryBgMain) 100%),
            linear-gradient(var(--gridColor) 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), var(--gridColor) calc(100% - 0.5px)),
            linear-gradient(90deg, var(--gridColor) 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), var(--gridColor) calc(100% - 0.5px));
  background-size: auto auto, var(--gridSize) var(--gridSize), var(--gridSize) var(--gridSize);
  background-repeat: no-repeat, repeat, repeat;
} */

.grid {
    background-image: radial-gradient(circle, rgba(0,0,0,0) 0%, @apply bg-slate-600 100%);
}