@keyframes translate0 {
	to {
		transform: translateX(-300vw);
	}
}
.animate {
	transform: translateX(30vw);
}	

@supports (animation-timeline: scroll()) {
	.animate {
		animation: translate0 linear forwards;
		animation-timeline: scroll(block root);
	}	
  }